.callout-nav{
  display: block;
  clear: both;
  overflow: hidden;
  h5{
    float: left;
    font-size: 2rem;
  }

}
.expense{
  border-left: 10px solid $alert-color;
}
.payment{
  border-left: 10px solid $success-color;
}