/** The option list should not be visible by default */
.select-search-box__select {
    display: none;
}

    /** If it's a multiple select, you can style it with this selector */
    .select-search-box--multiple .select-search-box__select {
        display: block;
        position: relative;
    }

    /** The list receives the modifier class "display" when the select has focus */
    .select-search-box__select--display {
        display: block;
        position: absolute;
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    /**
     * The option list hides when the selectbox loses focus.
     * To prevent the list from dissapearing before the option click event
     * we use a timer that hides it after 200ms.
     * To make it look like it dissapears right away
     * you can use this class and set opacity to 0
     *
     * I found that using the mousedown event wasn't a good option.
     */
    .select-search-box__select--prehide {
        opacity: 0;
    }

/** UL with the options */
.select-search-box__options {
    margin-left: 0;
    padding-left: 0;

}

/** The option (LI), look at the state classes below */
.select-search-box__option {
    padding: 20px;
    font-size: 1.2em;
    list-style-type: none;
    margin-left: 0;
}

    /** When the option has been selected */
    .select-search-box__option--selected {

    }

    /** When the option is selected (when navigation with the arrow keys, up/down) */
    .select-search-box__option--hover, .select-search-box__option:hover {
        background-color: #ddd;
    }