@import 'settings';
.top-bar{
  border-bottom: 3px solid $white;
  box-shadow: 1px 1px 20px #888;
  a{
    color:$black !important;
    &:hover, &:active{
      color: darken($black, 50%);
    }
  }
}
.menu > li > a.img-placeholder{
  padding: 0;
  margin-right: 20px;
}
.top-bar-left{
  .menu{
    margin-top: 10px;
  }
}
.top-bar-right{
  margin-right: 20px;
}
.top-bar-title{
 a {
    display:block;
    padding: 0 0 0 20px!important;
    h1{
      color: $black;
      font-size: 2.3em;
      margin: 0;
      padding: 0 0 0 55px;
      background: transparent url(../images/fs-logo.png) no-repeat left center;
      background-size: contain; 
    }
  }
}
.roundCorner-image{
  height:50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  border: 2px solid $white;
 }
@media screen and (max-width: 39.9375em) {
  .top-bar-title{
    display: none;
  }
  .top-bar .menu li {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    display: block;
    float: none;
    margin: 10px 0;
  }
  .top-bar-right{
    margin-right: 0;
  }
  .menu > li > a.img-placeholder{
    margin: 0;
  }
}
@media screen and (min-width: 40em)  {
  .top-bar-title{
    display: block;
  }
}