@import 'components/settings';

body{
  z-index: -1;
  background: $white url(../images/dinnerBlur.jpg) no-repeat center center;
  background-attachment:fixed;
}
h5,h6 {font-family: 'Helvetica Neue', sans-serif;}
.component-wrapper{
  background: #fff;
  padding: 20px 40px;
  border-radius: .33em;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 20px #888;
  margin-bottom: 40px;
  &.group-view{
    padding: 0 0 60px 0;
  }
}
.group-view-pad{
  padding: 20px 40px;
}

.login,.create-group,.profile,.group-view{
  margin-top: 40px;
}
.block{
  display:block;
}
.dashboard{
  margin-top: 60px;
}
.input-group{
  position: relative;
}
.input-group-button{
  width: 75px;
}
input[type='search']{
  margin-bottom: 0;
}
.profile-form{
  input[type='text']{
    margin-bottom: .3rem;
  }
  img{
    margin-top: 20px;
  }
  button{margin-top: 10px;}
}
.add-member{
  margin: 24px 0 0 0;
}
.members-list{
  margin-top: 20px;
  background-color: $white;
  li{ list-style-type: none;}
}
.remove-user{
  margin-bottom: 0;
  padding: 0.25em 1em;
}
.small-mem{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.button.alert{
  color: $white;
}
.delete-group{
  float: right;
  margin-top: 10px;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.modal-anim-enter {
  opacity: 0.00;
  transform: scale(0.7);
  transition: all 0.25s;
}

.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}

.modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.55s;
}

.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.00;
  transform: scale(0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background-color: rgba(10, 10, 10, 0.45);
  overflow-y: scroll;
}

.modal {
  z-index: 1006;
  padding: 1rem;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  border-radius: 0;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  width:100%;
  form{
   padding: 0 20px;
  }
  .fa-times-circle-o{
    font-size: 2rem;
  }
}
.dash-stat{
  font-size: 2rem;
  margin-bottom: 20px;
  .alert{
    color: $alert-color
  }
  .success{
    color: green;
  }
}
.group-avatar{
  height: 40px;
  border-radius: 50%;
  border: 1px solid $white;
  float: right;
}
.activity-header,.group-header{
  clear: both;
  overflow: hidden;
  h2,h3{
    float:none;
    margin-right: 10px;
  }
  > span {
    margin: 10px 0;
    display: block;
    float:none;
  }
}
.group-header{
  border-top-right-radius: .33em;
  border-top-left-radius: .33em;
  background-color: $black;
  color: $white;
  padding: 20px;
  margin-bottom: 40px;
}
.small-aside{
  color: $secondary-color;
  font-size: .9rem;
}
.item-title{
  a{
    font-size: .9rem;
  }
}
.large-display{
  font-family: 'Lobster';
  color: #ddd;
  font-size: 2.5rem;
  float: right;
}
.note{
  background-color: #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-left:10px solid #ccc;
}
.note, .details,.receipt-holder {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  &.closed{
    max-height: 0;
    padding: 0;
  }
}
.edit-expense{
  float: right;
  font-size: 1.5rem;
  color: #ccc;
  padding: 0;
  margin: 0;
  vertical-align: top; 
}
.receipt-holder{
  clear:both;
}
.label{
  white-space: normal;
}



@media screen and (min-width: 40em) {
  .activity-header,.group-header{
    h2,h3{float:left}
    > span {
      margin-top: 20px;
      display: block;
      float:left;
      margin-left: 20px;

    }
    form h3, form h2 {
      float: none;
    }
  }
  .modal {
    width: 50%;
  }
}

