@import 'components/settings';
body{
  //background: transparent url(../images/dinnerBlur.jpg) no-repeat center center;
}
.login,.create-group{
  margin-top: 130px;
}
.dashboard{
  margin-top: 100px;
}
.input-group{
  position: relative;
}
.input-group-button{
  width: 75px;
}
input[type='search']{
  margin-bottom: 0;
}
.add-member{
  margin: 24px 0 0 0;
}
.members-list{
  margin-top: 20px;
  li{ list-style-type: none;}
}
.remove-user{
  margin-bottom: 0;
  padding: 0.25em 1em;
}
.small-mem{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.button.alert{
  color: $white;
}

.modal-anim-enter {
  opacity: 0.00;
  transform: scale(0.7);
  transition: all 0.2s;
}

.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}

.modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}

.modal-anim-leave.modal-anim-leave-active {
  opacity: 0.00;
  transform: scale(0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  background-color: rgba(10, 10, 10, 0.45);
  overflow-y: scroll;
}

.modal {
  z-index: 1006;
  padding: 1rem;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  border-radius: 0;
  position: relative;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  width:65%;
}
